p.advertise {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 13.3px;
    margin-top: 21.25px;
    margin-left: 5.5%;
    font-weight: 500;
}

p.advertise:hover {
    color: #4776da;
    cursor: pointer;
    font-size: 13.4px;
}
