@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

p.login {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 13.3px;
    margin-top: 21.25px;
    margin-left: 5.5%;
}

p.login:hover {
    color: #4776da;
    cursor: pointer;
    font-size: 13.4px;
}
