.search-bar {
    margin-top: 15px;
    border: 1px solid rgb(59, 59, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
    margin-left: 25px;
    width: 400px;
    height: 30px; 
  } 
  
  
  .material-symbols-outlined {
    font-size: 24px;
    margin-right: 5px;
    color: rgb(59, 59, 59); 
  }
  
  .input {
    height: 14px;
    margin-bottom: 1px;
    background-color: #1a1a1a;
    flex-grow: 1;
    padding: 5px;
    border: none;
    outline: none;
    color: rgb(105, 105, 105);
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  